body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 4.3rem;
}

#navbar {
    background-color: lightgray;
    left: 0px;
    width: 100%;
    height: 4.3rem;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
}

#nav-header {
    background-color:black;
    color: white;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-list {
    width: 65%;
    background-color: black;
    display: flex;
}

#logo {
    width: 4rem;
    height: auto;
}
ul.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    list-style: none;
}

a { 
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none; 
}
a:visited { 
    text-decoration: none; 
}
a:hover { 
    transition: .5s;
    color: rgba(255,255,255,0.3);
}
a:focus { 
    text-decoration: none; 
}
a:hover, a:active { 
    text-decoration: none; 
}

#welcome-section {
    background: linear-gradient(215deg, grey, lightgrey);
    /* margin-top:4.3rem; */
    height: 100vh;
    text-align: center;
}

#lastnav {
    right: 1vw;
}

#about {
    display: flex;
    flex-direction: row;
}

#text-div {
    width: 50%;
    background-color: tomato;
    text-align: center;
}

#photo-div {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: teal;
}

.photo {
    border-radius: 50%;
    margin-right: 15%;
}

#projects {
    text-align: center;
    background-color: red;
}

.flexrow {
    display: flex;
    flex-direction: row;
    height: 30vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: green
}


.project-tile {
    background-color: violet;
    width: 27vw;
    height: 25vh;
}

#contact {
    height: 30vh;
    background-color:grey;
    text-align:  center;
}

footer {
    padding-bottom: 0px;
    bottom: 0px;
    width: 100%;
    height: 3.1rem;
    background-color:black;
    color: white;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .flexrow {
        display: flex;
        flex-direction: column;
        height: 190vh;
        align-items: center;
        justify-content: space-evenly;
        background-color: green
    }
    .project-tile {
        background-color: violet;
        width: 70vw;
        height: 50vh;
    }
    
}